
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  height: auto;
  overflow: visible;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4);
  font-family: "M PLUS Rounded 1c", "Roboto", sans-serif;
  color: white;
}

.dashboard {
  height: 100vh;
  width: 100vw;
}

.dashboard.game-connected {
  visibility: hidden;
}

.dashboard.dashboard.game-connected.yes {
  visibility: visible;
}

.rows {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.steer {
  flex: 1;
  background: linear-gradient(to right,rgba(0, 0, 255, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.2));
  margin: 0;
  padding: 0;
  display: block;
  font-size: 10vmin;
}

.pedal {
  flex: 2;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav-info {
  flex: 2;
  margin: 0;
  padding: 0;
}

.game-steer-position,
.user-steer-position {
  position: absolute;
  right: 50%;
  width: min-content;
  height: auto;
  padding: 0;
  margin: 0;
  transform: translateX(50%);
  font-size: 4vw;
}

.game-steer-position {
  z-index: 2;
  font-weight: bold;
  color: crimson;
}

.user-steer-position {
  z-index: 1;
  color: rgba(255, 255, 255, 0.9);
}

.throttle-background {
  background: transparent;
  flex: 1;
  display: block;
  contain: content;
}

.throttle-foreground {
  background: rgba(12, 241, 12, 0.7);
  color: black;
  position: absolute;
  right: 0%;
  width: 0%;
  content: "";
  margin: 0;
  padding: 0;
  z-index: 1;
  display: block;
  height: 100%;
}

.speed,
.fuel {
  height: auto;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3vw;
}

.speed {
  margin-right: 1em;
  padding: 0;
  right: 0%;
  position: absolute;
  z-index: 2;
  font-size: 5vw;
}

.truck-cruiseControlOn {
  color: blue;
  visibility: hidden;
}

.truck-cruiseControlOn.yes {
  visibility: visible;
}

.brake-background {
  background: transparent;
  flex: 1;
  display: block;
  contain: content;
}

.brake-foreground {
  background: rgba(255, 0, 0, 0.7);
  color: black;
  position: absolute;
  left: 0%;
  width: 0%;
  content: "";
  margin: 0;
  padding: 0;
  z-index: 1;
  display: block;
  height: 100%;
}

.fuel {
  margin-left: 1em;
  padding: 0;
  left: 0%;
  position: absolute;
  z-index: 2;
}

.fuel-mark.danger {
  background-color: deeppink;
}

.nav-info {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 4vw;
  letter-spacing: 0.2rem;
}

.sleeptime {
  flex: 1;
  font-weight: normal;
}

.bed-mark {
}

#bed-mark.caution {
  background-color: khaki;
}

#bed-mark.danger {
  background-color: deeppink;
}

.estimatetime {
  flex: 1;
}

#est-clock-mark.danger {
  background-color: deeppink;
}

.job {
  flex: 1;
}

.trailer-attached {
  visibility: hidden;
}

.trailer-attached.yes {
  visibility: visible;
}

.job-destinationCity {
  font-size: 2.5vw;
  top: 50%;
  transform: translateY(-50%);
}
